<div class="col-md-3">
</div>
<div class="col-md-6">
    <form name="customerForm" novalidate>
        <div class="form-group" ng-class="{'has-error': customerForm.firstName.$invalid && customerForm.firstName.$touched, 'has-success': customerForm.firstName.$valid }">

            <label for="firstName">Förnamn</label>
            <input type="text" class="form-control" id="firstName" name="firstName"
                   placeholder="John" ng-model="customer.firstName" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.lastName.$invalid && customerForm.lastName.$touched, 'has-success': customerForm.lastName.$valid }">

            <label for="lastName">Efternamn</label>
            <input type="text" class="form-control" id="lastName" name="lastName"
                   placeholder="Doe" ng-model="customer.lastName" required>
        </div>

        <div class="form-group"  ng-class="{'has-error': customerForm.email.$invalid && customerForm.email.$touched, 'has-success': customerForm.email.$valid }">

            <label for="email">E-post</label>
            <input type="email" class="form-control" id="email" name="email"
                   placeholder="john.doe@mail.com" ng-model="customer.email" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.phone.$invalid && customerForm.phone.$touched, 'has-success': customerForm.phone.$valid }">

            <label for="phone">Telefon</label>
            <input type="tel" class="form-control" id="phone" name="phone"
                   placeholder="555-666-69" ng-model="customer.phone" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.address.$invalid && customerForm.address.$touched, 'has-success': customerForm.address.$valid }">

            <label for="address">Adress</label>
            <input type="text" class="form-control" id="address" name="address"
                   placeholder="Sveavägen 20" ng-model="customer.address" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.postalCode.$invalid && customerForm.postalCode.$touched, 'has-success': customerForm.postalCode.$valid }">

            <label for="postalCode">Postnummer</label>
            <input type="text" class="form-control" id="postalCode" name="postalCode"
                   placeholder="111 57" ng-model="customer.postalCode" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.city.$invalid && customerForm.city.$touched, 'has-success': customerForm.city.$valid }">

            <label for="city">Stad</label>
            <input type="text" class="form-control" id="city" name="city"
                   placeholder="Stockholm" ng-model="customer.city" required>
        </div>

        <div class="form-group" ng-class="{'has-error': customerForm.password.$invalid && customerForm.password.$touched, 'has-warning': customerForm.password.$touched, 'has-success': customerForm.password.$valid }">

            <label for="password">Lösenord</label>
            <input type="password" class="form-control" id="password" name="password"
                   placeholder="1234" ng-model="customer.password" required>
        </div>

        <button ng-disabled="customerForm.$invalid"
                type="submit" class="btn btn-primary" ng-click="register()">Registrera</button>

        <a href="/" class="btn btn-default">Avbryt</a>
    </form>
</div>
<div class="col-md-3">
</div>