<div class="container">
    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-10">
            <div class="col-md-12">
                <table class="table table-hover">
                    <tbody ng-repeat="product in products | limitProducts:limitByCategory:limitBySearch">
                        <tr class="hover"
                            ng-click="showProduct(product.id)">
                            <td class="col-md-4"><img ng-src="{{ product.imageUrl }}" class="img-thumbnail"></td>
                            <td class="col-md-8 ">
                                <h3>{{product.name }}</h3>
                                <h4>Pris: {{product.price}} kr</h4>
                                <div ng-hide="countCheck(product.unitsInStock)"><br><h2 class="text-danger">Slut i lager</h2></div>
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="col-md-1"></div>

    </div>

</div>